{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Yourapp{% endblock %}

{% block head_style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <style>

        body {
            font-family: Verdana;
            font-size: 11px;
        }

        h2 {
            margin-bottom: 0;
        }

        small {
            display: block;
            margin-top: 40px;
            font-size: 9px;
        }

        small,
        small a {
            color: #666;
        }

        a {
            color: #000;
            text-decoration: underline;
            cursor: pointer;
        }

        #toolbar [data-wysihtml5-action] {
            float: right;
        }

        #toolbar,
        textarea {
            width: 920px;
            padding: 5px;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        textarea {
            height: 280px;
            border: 2px solid green;
            font-family: Verdana;
            font-size: 11px;
        }

        textarea:focus {
            color: black;
            border: 2px solid black;
        }

        .wysihtml5-command-active {
            font-weight: bold;
        }

        [data-wysihtml5-dialog] {
            margin: 5px 0 0;
            padding: 5px;
            border: 1px solid #666;
        }

        a[data-wysihtml5-command-value="red"] {
            color: red;
        }

        a[data-wysihtml5-command-value="green"] {
            color: green;
        }

        a[data-wysihtml5-command-value="blue"] {
            color: blue;
        }

        .wysihtml5-editor, .wysihtml5-editor table td {
            outline: 1px dotted #abc;
            border-bottom-width: 5px;
            padding: 10px;

        }

        code {
            background: #ddd;
            padding: 10px;
            white-space: pre;
            display: block;
            margin: 1em 0;
        }

        .toolbar {
            display: block;
            border-radius: 3px;
            border: 1px solid #fff;
            margin-bottom: 1px;
            line-height: 1em;
        }

        .toolbar a.wysihtml5-command-active {
            background: #FFF;
            color: white;
        }

        .toolbar .block {
            padding: 1px 1px;
            display: inline-block;
            background: #eee;
            border-radius: 3px;
            margin: 0px 1px 1px 0;
        }

        div[data-wysihtml5-dialog="createTable"] {
            position: absolute;
            background: white;
        }

        div[data-wysihtml5-dialog="createTable"] td {
            width: 10px;
            height: 5px;
            border: 1px solid #666;
        }

        .wysihtml5-editor table td.wysiwyg-tmp-selected-cell {
            outline: 2px solid green;
        }

        .editor-container-tag {
            padding: 5px 10px;
            position: absolute;
            color: white;
            background: rgba(0, 0, 0, 0.8);
            width: 100px;
            margin-left: -50px;
            -webkit-transition: 0.1s left, 0.1s top;
        }

        .wrap {
            max-width: 700px;
        }

        .editable .wysihtml5-uneditable-container {
            outline: 1px dotted gray;
            position: relative;
        }

        .editable .wysihtml5-uneditable-container-right {
            float: right;
            width: 50%;
            margin-left: 2em;
            margin-bottom: 1em;
        }

        .editable .wysihtml5-uneditable-container-left {
            float: left;
            width: 50%;
            margin-right: 2em;
            margin-bottom: 1em;
        }

    </style>

    <style about="tasatkos customization">
        .panel-primary {
            max-width: 700px;
        }
    </style>
{% endblock %}

{% block head_script %}
    <script src="{{ asset('wysihtml/examples/jquery.1.10.2.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('wysihtml/dist/wysihtml-toolbar.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('wysihtml/parser_rules/advanced_and_extended.js') }}" type="text/javascript"
            charset="utf-8"></script>
{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>{% block headline %}Example of Editor Bundle{% endblock headline %}</h1>
    </div>
{% endblock page_header %}

{% block content_row %}
    <div class="row">
        {% block content %}
            <div class="col-sm-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Editor</h3>
                    </div>

                        <div class="wrap">
                            <div class="ewrapper" contentEditable="false">
                                {% block main_panel %}
                                    {% include '@TasatkoEditor/Index/toolbar.html.twig' %}
                                {% endblock main_panel %}

                                {% block content_content %}
                                    {% include '@TasatkoEditor/Index/content_content.html.twig' %}
                                {% endblock content_content %}
                            </div>
                        </div>

                </div>
            </div>
            <div class="col-sm-3">
                {% block content_sidebar %}
                    <h2>Events:</h2>
                    <div id="log"></div>
                {% endblock content_sidebar %}
            </div>
        {% endblock content %}
    </div>
{% endblock content_row %}

{% block footer %}
    <p>&copy; <a href="http://tasatko.com" target="_blank">Tasatko's customizations</a> 2014-2015</p>
{% endblock footer %}

{% block foot_script %}
    {% block foot_script_assetic %}
        <script>
            var editors = [];

            var log = document.getElementById("log");

            $('.ewrapper').each(function (idx, wrapper) {
                var e = new wysihtml5.Editor($(wrapper).find('.editable').get(0), {
                    toolbar: $(wrapper).find('.toolbar').get(0),
                    parserRules: wysihtml5ParserRules,
                    pasteParserRulesets: wysihtml5ParserPasteRulesets
                    //showToolbarAfterInit: false
                });
                editors.push(e);

                e.on("showSource", function () {
                    alert(e.getValue(true));
                });

                e.on("blur", function () {
                    $('#log').append('<div>blur</div>');
                });

                e.on("paste", function () {
                    $('#log').append('<div>paste</div>');
                });

                e.on("load", function () {
                    $('#log').append('<div>load</div>');
                });
                e.on("undo:composer", function () {
                    $('#log').append('<div>undo:composter</div>');
                });
                e.on("redo:composer", function () {
                    $('#log').append('<div>redo:composter</div>');
                });

            });
        </script>
    {% endblock %}
{% endblock %}